body {
    background-color: steelblue;
    font-family: 'Courier Prime', monospace;
}
.logo {
    width: 200px;
    margin: auto;
    display: block;
}
header {
    background-color: slategrey;
}
.navigation {
    background-color: lightslategray;
    text-align: center;
}
.navigation a {
    color: skyblue;
    text-decoration: none;
    padding: 1em;
}
.banner {
    height: 200px;
    background-color: lightgrey;
    color: black;
}
.bomberDiagram {
    width: 50em
}
footer {
    background-color: olivedrab;
}
table {
    background-color: slategray;
    /*solid | double | dotted | dashed */
    border-style: solid;
    border-color: slategray;
    border-collapse: collapse;
    margin: auto;
}
th {
    color: white;
    background-color: darkgreen;
}
td {
    border-style: solid;
    padding: 5px;
    border-color: slategray;
}
.topCamo {
    color: white;
    background-color: darkgreen;
}
.bottomCamo {
    color: white;
    background-color: black;
}
.bomberPicture {
    width: 896px;
}
.bomberLivery {
    width: 128px;
}
